In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\usman yaqoob\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\usman yaqoob\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\usman yaqoob\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\usman yaqoob\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in c:\users\usman yaqoob\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [3]:
import pandas as pd

In [4]:
#will return list of all tables in the website
NBA_Final = pd.read_html('https://en.wikipedia.org/wiki/NBA_Finals')

In [5]:
#no of tables
len(NBA_Final)

27

In [8]:
NBA_Final[1]

,No.,Team,W,L,Win%,Most recent appearance,Most recent title,Notes
0,32,Minneapolis/Los Angeles Lakers,17,15,0.531,2020,2020,5–1 in Minneapolis and 12–14 in Los Angeles. C...
1,22,Boston Celtics,17,5,0.773,2022,2008,"Won eight straight titles from 1959 to 1966, a..."
2,12,Philadelphia/San Francisco/Golden State Warriors,7,5,0.583,2022,2022,2–1 in Philadelphia and 5–4 in California. Won...
3,9,Syracuse Nationals/Philadelphia 76ers,3,6,0.333,2001,1983,1–2 in Syracuse and 2–4 in Philadelphia. Won o...
4,8,New York Knicks,2,6,0.250,1999,1973,"In their most recent appearance, they became t..."
5,7,Fort Wayne/Detroit Pistons,3,4,0.429,2005,2004,0–2 in Fort Wayne and 3–2 in Detroit. Appeared...
6,6,Chicago Bulls,6,0,1.000,1998,1998,All six titles were with head coach Phil Jacks...
7,6,Miami Heat,3,3,0.500,2020,2013,Udonis Haslem featured in all Finals appearanc...
8,6,San Antonio Spurs,5,1,0.833,2014,2014,All five titles were with Tim Duncan and Gregg...
9,5,Cleveland Cavaliers,1,4,0.200,2018,2016,LeBron James featured in all five Finals appea...
10,4,Houston Rockets,2,2,0.500,1995,1995,Won back-to-back championships with Hakeem Ola...
11,4,St. Louis/Atlanta Hawks,1,3,0.250,1961,1958,All appearances when the team was in St. Louis...
12,4,Seattle SuperSonics/Oklahoma City Thunder,1,3,0.250,2012,1979,1–2 as Seattle SuperSonics and 0–1 as Oklahoma...
13,4,Baltimore/Washington Bullets/Washington Wizards,1,3,0.250,1979,1978,"0–1 as the Baltimore Bullets, and 1–2 as the W..."
14,3,Milwaukee Bucks,2,1,0.667,2021,2021,Won in the 1971 and 2021 Finals. 1971 and 1974...
15,3,Portland Trail Blazers,1,2,0.333,1992,1977,Their only title was won with Bill Walton. The...
16,3,Phoenix Suns,0,3,0.000,2021,None,"Lost in the 1976, 1993 and 2021 Finals to the ..."
17,2,Dallas Mavericks,1,1,0.500,2011,2011,"They lost in 2006 and won in 2011, both times ..."
18,2,New Jersey/Brooklyn Nets,0,2,0.000,2003,None,All appearances when the team was in New Jersey.
19,2,Orlando Magic,0,2,0.000,2009,None,"They lost both of their Finals appearances, wi..."
20,2,Utah Jazz,0,2,0.000,1998,None,Both appearances were with coach Jerry Sloan a...
21,1,Rochester Royals/Kansas City/Sacramento Kings,1,0,1.000,1951,1951,Only appearance in NBA Finals as the Rochester...
22,1,Toronto Raptors,1,0,1.000,2019,2019,Only appearance in NBA Finals. The first and o...
23,1,Indiana Pacers,0,1,0.000,2000,None,Only appearance was in 2000 and led by Reggie ...
24,1,Baltimore Bullets,1,0,1.000,1948,1948,Team folded in 1954 and is the only championsh...
25,1,Chicago Stags,0,1,0.000,1947,None,Team folded in 1950.
26,1,Washington Capitols,0,1,0.000,1949,None,Team folded in 1951.

# Reading .csv files from websites

In [10]:
#getting a cdv file from website
df_laliga21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/SP1.csv')

In [11]:
#showing the above dataframe
df_laliga21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,13/08/2021,20:00,Valencia,Getafe,1,0,H,1,0,...,1.47,-0.25,2.06,1.87,2.07,1.86,2.10,1.90,2.03,1.84
1,SP1,14/08/2021,18:30,Cadiz,Levante,1,1,D,0,1,...,1.65,0.25,1.89,2.04,1.90,2.02,1.91,2.05,1.88,1.99
2,SP1,14/08/2021,18:30,Mallorca,Betis,1,1,D,1,0,...,1.59,0.00,1.79,2.15,1.82,2.13,1.85,2.19,1.80,2.09
3,SP1,14/08/2021,21:00,Alaves,Real Madrid,1,4,A,0,0,...,1.98,1.00,1.87,2.06,1.89,2.04,1.91,2.11,1.86,2.01
4,SP1,14/08/2021,21:00,Osasuna,Espanol,0,0,D,0,0,...,1.60,0.00,1.87,2.06,1.87,2.07,1.88,2.11,1.83,2.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,22/05/2022,19:00,Granada,Espanol,0,0,D,0,0,...,2.29,-1.25,2.02,1.88,2.03,1.90,2.06,2.05,1.97,1.90
376,SP1,22/05/2022,19:00,Osasuna,Mallorca,0,2,A,0,0,...,1.76,0.25,1.68,2.15,1.74,2.23,1.86,2.29,1.77,2.11
377,SP1,22/05/2022,21:00,Barcelona,Villarreal,0,2,A,0,1,...,2.50,-0.50,2.07,1.83,2.08,1.85,2.09,2.00,1.97,1.91
378,SP1,22/05/2022,21:00,Sevilla,Ath Bilbao,1,0,H,0,0,...,1.69,0.00,2.01,1.89,2.02,1.90,2.07,2.06,2.00,1.88
379,SP1,22/05/2022,21:00,Sociedad,Ath Madrid,1,2,A,0,0,...,1.66,0.00,1.91,1.99,1.89,2.01,1.95,2.04,1.90,1.98

In [12]:
#renaming columns
                            #old     #new name
df_laliga21.rename(columns={'FTHG': 'HomeGoals',
                            'FTAG': 'AwayGoals'}, inplace = True)

In [13]:
df_laliga21

,Div,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,13/08/2021,20:00,Valencia,Getafe,1,0,H,1,0,...,1.47,-0.25,2.06,1.87,2.07,1.86,2.10,1.90,2.03,1.84
1,SP1,14/08/2021,18:30,Cadiz,Levante,1,1,D,0,1,...,1.65,0.25,1.89,2.04,1.90,2.02,1.91,2.05,1.88,1.99
2,SP1,14/08/2021,18:30,Mallorca,Betis,1,1,D,1,0,...,1.59,0.00,1.79,2.15,1.82,2.13,1.85,2.19,1.80,2.09
3,SP1,14/08/2021,21:00,Alaves,Real Madrid,1,4,A,0,0,...,1.98,1.00,1.87,2.06,1.89,2.04,1.91,2.11,1.86,2.01
4,SP1,14/08/2021,21:00,Osasuna,Espanol,0,0,D,0,0,...,1.60,0.00,1.87,2.06,1.87,2.07,1.88,2.11,1.83,2.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,22/05/2022,19:00,Granada,Espanol,0,0,D,0,0,...,2.29,-1.25,2.02,1.88,2.03,1.90,2.06,2.05,1.97,1.90
376,SP1,22/05/2022,19:00,Osasuna,Mallorca,0,2,A,0,0,...,1.76,0.25,1.68,2.15,1.74,2.23,1.86,2.29,1.77,2.11
377,SP1,22/05/2022,21:00,Barcelona,Villarreal,0,2,A,0,1,...,2.50,-0.50,2.07,1.83,2.08,1.85,2.09,2.00,1.97,1.91
378,SP1,22/05/2022,21:00,Sevilla,Ath Bilbao,1,0,H,0,0,...,1.69,0.00,2.01,1.89,2.02,1.90,2.07,2.06,2.00,1.88
379,SP1,22/05/2022,21:00,Sociedad,Ath Madrid,1,2,A,0,0,...,1.66,0.00,1.91,1.99,1.89,2.01,1.95,2.04,1.90,1.98